<li class="selected-item">
	<div class="item-info clearfix">
		<div class="item-info-left">
			<a href=<%= voted_item[1].item.item_url %> target="_blank">
				<img src=<%= voted_item[1].item.image_url %>>
			</a>
		</div>
		<div class="item-info-right">
			<p><%= voted_item[1].item.item_name%></p>
			<p><%= "得票数 : #{voted_item[0]}" %></p>
		</div>
	</div>
</li>