<div class="contents">

	<div class="display-map">
		<div class="map-embed">
			<div id="map-canvas">map</div>
		</div>
	</div>
	<ul class="selected-item-list" style="list-style:none;">
		<%= render :partial => "owners/voted_item", :collection => @voted_items %>
	</ul>

</div>