// サーチした結果をハッシュで返して部分テンプレート
// 参照 : http://www.c-and-d.org/ruby/rails/rails_tips/2015/04/25/rails_ajax

// test
console.log("<%= @url %>"); // ""で囲まないと渡せない...

// .pattern4のクラス・子要素消去...冗長
$(".display-hotels .pattern4").empty();
$(".display-hotels .pattern4").removeClass("slick-initialized", "slick-slider");
// ないとレイアウトがくずれる...?
$(".display-hotels").show();

is_empty = (<%= @empty_check %>)
if (is_empty == 0) {

	// 部分テンプレート
	$(".display-hotels .pattern4").html("<%= j(render :partial => 'owners/hotel', :collection => @hotels) %>");

	// スライド初期化
	$('.pattern4').slick({
		centerMode: true,
		centerPadding: '160px'
	});
	// スライドのボタンに関するイベントを定義
	$('.slick-prev, .slick-next').on('click', function() {

		latlng = set_current_item_info();
		// いいね or よくないねを判断
		toggle_iine_yokunaine();
		// マーカーの代理を作成
		create_marker_agent(latlng[0], latlng[1]);
	});
	// 初期化
	latlng = set_current_item_info();
	create_marker_agent(latlng[0], latlng[1]);

	var img_element = '<img src="/assets/left-arrow.png" class="left-arrow">';
	$('.slick-prev').text("");
	$('.slick-prev').append(img_element);
	var img_element = '<img src="/assets/right-arrow.png" class="right-arrow">';
	$('.slick-next').text("");
	$('.slick-next').append(img_element);


}else{

	var no_hit = "<p class='search-explain'>NO Hit</p>";
	$(".display-hotels .pattern4").append(no_hit);

};