<div class="contents">
	<!-- fixedに対するダミー -->
	<div class="dummy-div"></div>

	<div class="display-map">
		<div class="map-embed">
			<div id="map-canvas">map</div>
		</div>
	</div>

	<ul class="selected-item-list" style="list-style:none;">
		<%= render :partial => "groups/group_item", :collection => @group_items %>
	</ul>