<div class="login-contents">
  <div class="form-wrapper">
    <div class="user_info user_avater">
      <%= image_tag  current_user.avatar %>
    </div>
    <div class="user_info user_email">
      <h2 style="font-size: 70px;"><%= @user.email %></h2>
    </div>
    <div class="user_info user_name">
      <h2 style="font-size: 70px;"><%= @user.unique_name %></h2>
    </div>
  </div>
</div>