/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body, html {
  height: 100%;
  background-image: url("back-image.jpg");
}

h1, h2, h3, h4, h5, h6, p, body {
  font-size: 14px;
  color: #4a4a4a;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

/* ブロック要素を並べる */
.clearfix:after{
  display: block;
  content: "";
  clear: both;
}

/* header */
header {
  height: 8%;
  background-color: #333333;
  margin-bottom: 0px 5px;
}

header .left-contents {
  height: 100%;
  width: 50%;
  float: left;
  /*background-color: red;*/
}

header .left-contents a {
  position: relative;
  top: 20%;
  right: -10%;
  color: #FFF;
  text-decoration: none;
  transition: .3s;
  -webkit-transition: .3s;
  font-size: 40px;
  font-family: 'Oswald', sans-serif;
  text-align: left;
}

.hidden-menu-event {
  display: none;
}


/* footer */
footer{
  height: 5%;
  text-align: center;
  /*background-color: #FF9500;*/
}

