.modal-div {
  /*display: none;*/
}

#lean_overlay{
  position: fixed; z-index:100;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: white;
  display: none;
}
#account-div, #group-div, #owner-div, #search-filter-div,#notification-div {
  background: none repeat scroll 0 0 #FFFFFF;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
  display: none;
  padding: 30px;
  width: 85%;
  background-image: url("back-image.jpg");
  border-radius: 10px;
 }
.modal_close{
  position: absolute;
  top: 12px;
  right: 12px;
  display: block;
  width: 10%;
  height: 14px;
  /*background: url(../img/modal_close.png);*/
  z-index: 2;
  font-size: 30px;
}

.modal-user-div, .modal-user-group-div, .modal-owner-div, .modal-notification-div {
  height: 300px;
  margin: 30px 10px;
  margin-bottom: 10px;
  padding: 10px 10px;
  background-color: #E3E3E3;
  outline: 1px dashed #98abb9;
  outline-offset: -5px;
}

#account-div .modal-user-div .modal-left {
  float: left;
  width: 30%;
  margin-left: 30px;
  margin-top: 30px;
}

#account-div .modal-user-div .modal-left img {
  height: 100%;
  width: 100%;
}

#account-div .modal-user-div .modal-right {
  float: right;
  height: 100%;
  width: 60%;
  padding-top: 20px;
  padding-right: 10px;
  text-align: center;
}

#account-div .modal-user-div .modal-right p {
  font-size: 35px;
  text-decoration: underline;
  line-height: 300%;
}

#account-div .account-edit-button {
  display: block;
  width: 50%;
  margin: 0 auto;
  margin-top: 20px;
}

#group-div .modal-user-group-div .modal-left {
  float: left;
  width: 40%;
  margin-left: 30px;
  margin-top: 30px;
}

#group-div .modal-user-group-div .modal-left img {
  height: 60%;
  width: 70%;
  border-radius: 80%;
}

#group-div .modal-user-group-div .modal-left img:hover {
  border: solid 5px #5EABE6;
}

#group-div .modal-user-group-div .modal-right {
  float: right;
  height: 100%;
  width: 55%;
  padding-top: 20px;
  padding-right: 40px;
  text-align: center;
}

#group-div .modal-user-group-div .modal-right p {
  font-size: 40px;
  font-family: 'Neucha', cursive;
  text-decoration: underline;
  line-height: 180%;
}

#group-div .members-slide-button {
  font-size: 40px;
  text-align: center;
  font-family: 'Neucha', cursive;
  color: #CACEDA;
}

#group-div .members-slide-button:hover {
  color: #101115;
}

#group-div .modal-bottom {
  height: 50%;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 20px;
  display: none;
}
#group-div .member-row {
  height: 100px;
  margin-top: 20px;
}

#group-div .member-row img {
  display: block;
  float: left;
  height: 100%;
  width: 30%;
}

#group-div .member-row p {
  display: block;
  float: left;
  font-size: 40px;
  margin-top: 20px;
  margin-left: 20px;
}

#group-div .group-create-button {
  display: block;
  width: 50%;
  margin: 0 auto;
  margin-top: 20px;
}

#search-filter-div .modal-search-filter-div .radius-count{
  width: 60%;
  margin: 0 auto;
}

.radius-count p {
  font-size: 40px;
  text-align: center;
}

.radius-count .radius-value {
  font-size: 80px;
  display: block;
  text-align: center;
}

.radius-count .radius-up {
  font-size: 50px;
  display: block;
  float: left;
  position: relative;
  left: 70px;
}

.radius-count .radius-down {
  font-size: 50px;
  display: block;
  float: right;
  position: relative;
  right: 70px;
}