
.search-hotel-button {
	display: none;
}


.display-hotels {
	position: relative;
	top: 3%;
	margin: 0px 20px;
	height: 40%;
	display: none;
}

.display-hotels .search-explain {
	font-size: 40px;
	line-width: 60%;
	text-align: center;
	padding-top: 200px;
}

.display-hotels .pattern4 {
	position: relative;
	top: -20%;
}

.display-hotels .hotel-info {
	position: relative;
	height: 500px;
	width: 80%;
	margin: 3px;
	border-radius: 50%;
	background-color :white;
	border: 3px dashed #556068;
	background: url("hotel-icon.png") center;
}

.display-hotels .hotel-info .hotel-name-address {
	position: relative;
	right: 20px;
	height: 70%;
	width: 55%;
	float: right;
	text-align: center;
	margin-top: 100px;
	//margin-right: 20px;
}
.hotel-name-address p {
	font-size: 35px;
	font-family: 'Open Sans', sans-serif;
}
.hotel-name-address .hotel-name{
	max-width: 350px;
}
.hotel-name-address .hotel-address{
	font-size: 25px;
	max-width: 400px;
	display: none;
}


.display-hotels .hotel-info .hotel-img {
	height: 70%;
	width: 40%;
	float: left;
	margin-top:10px;
	margin-left:10px;
}

.hotel-img img {
	width: 100%;
	height: 80%;
	border-radius: 50%;
}

.display-hotels .hotel-info .hotel-catch {
	position: absolute;
	bottom: 30px;
	height: 30%;
	width: 90%;
	left:50px;
	text-align: center;
}
.hotel-catch p {
	display:block;
	margin: 0 auto;
	font-size: 30px;
	max-width: 500px;
}

.voted-result{
	height: 80px;
	width: 100px;
	background-color:#556068;
	border-radius: 50%;
	position: relative;
	top: 30px;
	left: 30px;
	z-index: 1;
}

.voted-result p{
	color:white;
	font-size: 50px;
	font-family: 'Open Sans', sans-serif;
	position: relative;
	text-align: center;

}
