
.search-hotel-button {
	display: none;
}

.display-slide-button {
	font-size: 60px;
	text-align: center;
	font-family: 'Neucha', cursive;
	color: #CACEDA;
	display: block;
	margin-top : 50px;
}

.display-slide-button:hover {
  color: #101115;
}

.display-hotels {
	position: relative;
	top: 3%;
	margin: 0px 20px;
	height: 40%;
	display: none;
}

.display-hotels .hotel-info div {
	width: 80%;
	margin-left: 25%;
}

.display-hotels .hotel-info img{
	display: block;
	float: left;
	height: 480px;
	width: 640px;
}

.display-hotels .hotel-info p{
	display: block;
	float: left;
	font-size: 20px;
	font-family: 'Neucha', cursive;
	padding-top:10px;
	padding-left:10px;
	width: 70%;
}