
.contents{
	height: 87%;
}

.display-map{
	position: relative;
	top: 2%;
	height: 60%;
}

.display-map .map-embed
{
	position: relative;
	//top: 5%;
	height: 100%;
	width: 95%;
	//border: solid 5px #33BFDB;
	margin: 0 auto;

}

.map-embed #map-canvas
{
	width: 100% ;
	height: 100% ;
}


.display-slide-button {
	font-size: 60px;
	text-align: center;
	font-family: 'Neucha', cursive;
	color: #CACEDA;
	display: block;
	margin-top : 50px;
}

.display-slide-button:hover {
  color: #101115;
}

.display-items {
	position: relative;
	top: 3%;
	margin: 0px 20px;
	height: 40%;
	display: none;
}

.search-button {
	display: block;
	position: relative;
	height: 80px;
	width: 80px;
	top: -70px;
}

.pattern4 {
	position: relative;
	top: -20%;
}

.display-items .item-info {
	position: relative;
	height: 500px;
	width: 80%;
	margin: 3px;
	border-radius: 50%;
	background-color :white;
	border: 3px dashed #556068;
	background: url("gurume-icon.png") center;
}

.display-items .item-info .item-name-address {
	position: relative;
	right: 20px;
	height: 70%;
	width: 55%;
	float: right;
	text-align: center;
	margin-top: 100px;
	//margin-right: 20px;
}
.item-name-address p {
	font-size: 35px;
	font-family: 'Open Sans', sans-serif;
}
.item-name-address .item-name{
	max-width: 350px;
}
.item-name-address .item-address{
	font-size: 25px;
	max-width: 400px;
	display: none;
}

.display-items .item-info .item-img {
	height: 70%;
	width: 40%;
	float: left;
	margin-top:10px;
	margin-left:10px;
}

.item-img img {
	width: 100%;
	height: 80%;
	border-radius: 50%;
}

.display-items .item-info .item-catch {
	position: absolute;
	bottom: 30px;
	height: 30%;
	width: 90%;
	left:50px;
	text-align: center;
}
.item-catch p {
	display:block;
	margin: 0 auto;
	font-size: 30px;
	max-width: 500px;
}

.iine-button, .yokunaine-button {
	position: absolute;
	bottom: 130px;
	height :10%;
	left: 40%; // 無理やり
}

.yokunaine-button {
	display: none;
}

.iine-button input {
	height: 150px;
	width: 150px;
	background: url("like.png") no-repeat center;
	// ボタンの大きさに画像がフィットする
	background-size: contain;
	background-size: cover;
	border-radius: 100px;
	opacity: 0.8;
}

.yokunaine-button img {
	height: 150px;
	width: 150px;
	// ボタンの大きさに画像がフィットする
	border-radius: 100px;
	opacity: 0.8;
}

.iine-button input:hover, .yokunaine-button input:hover {
	border: solid 5px #5EABE6;
}

.selected-item-list {
	margin: 0 auto;
	padding: 0;
	margin-top:20px;
}

.selected-item-list .selected-item{
	margin: 5% 0;
}

.selected-item-info{
	// http://coliss.com/articles/build-websites/operation/css/css3-tutorial-7-super-easy-css-recipes.html
	position: relative;
	height: 300px;
	width: 90%;
	background-color: #E3E3E3;
	margin: 0 auto;
	text-align: center;
	outline: 1px dashed #98abb9;
	outline-offset: -5px;
	/*shadow*/
	-webkit-box-shadow: 2px 2px 2px #000;
	-moz-box-shadow: 2px 2px 2px #000;
	box-shadow: 2px 2px 2px #000;
}

.selected-item-info .item-info-left{
	height: 100%;
	width: 30%;
	float: left;
}

.selected-item-info .item-info-middle{
	max-width: 50%;
	position: relative;
	float: left;
	height: 100%;
	padding-top:5%;
	left: 10%;
}

.selected-item-info .item-info-right {
	position: relative;
	float: right;
	widht: 10%;
	height: 100%;
	top: 10px;
	right: 10px;
}

.selected-item-info .item-info-left img {
	position: relative;
	height: 90%;
	width: 80%;
	top: 5%;
	//right: 10%;
	border-radius: 40px;
}

.selected-item-info .item-info-middle p {
	position: relative;
	top: 0%;
	right: 10%;
	font-size: 30px;
	text-decoration: underline;
	text-align: center;
	line-height: 250%;
}

.selected-item-info .item-info-right .top-img {
	position: relative;
	left: 50%;
	height: 80px;
	width: 80px;
	border-radius: 100px;
}

.selected-item-info .item-info-right .bottom-img {
	position: relative;
	top: 65%;
	height: 80px;
	width: 80px;
	border-radius: 100px;
}

