
.contents{
	height: 87%;
}

.display-map{
	position: relative;
	top: 2%;
	height: 60%;
}

.display-items {
	position: relative;
	top: 3%;
	height: 30%;
	margin: 0px 20px;
}

.iine-button, .yokunaine-button {
	position: relative;
	height :10%;
	text-align : center ;
}

.yokunaine-button {
	display: none;
}

.display-map .map-embed
{
	position: relative;
	//top: 5%;
	height: 100%;
	width: 95%;
	//border: solid 5px #33BFDB;
	margin: 0 auto;

}

.map-embed #map-canvas
{
	width: 100% ;
	height: 100% ;
}

.display-items .item-info div {
	width: 80%;
	margin-left: 25%;
}

.display-items .item-info img{
	display: block;
	float: left;
}

.display-items .item-info p{
	display: block;
	float: left;
	font-size: 20px;
	font-family: 'Neucha', cursive;
	padding-top:10px;
	padding-left:10px;
	width: 70%;
}

.iine-button input {
	height: 150px;
	width: 150px;
	background: url("like.png") no-repeat center;
	// ボタンの大きさに画像がフィットする
	background-size: contain;
	background-size: cover;
	border-radius: 100px;
	opacity: 0.8;
}

.yokunaine-button img {
	height: 150px;
	width: 150px;
	// ボタンの大きさに画像がフィットする
	border-radius: 100px;
	opacity: 0.8;
}

.iine-button input:hover, .yokunaine-button input:hover {
	border: solid 5px #5EABE6;
}

.selected-item-list {
	margin: 0 auto;
	padding: 0;
}

.selected-item-list .selected-item{
	margin: 5% 0;
}

.selected-item-info{
	// http://coliss.com/articles/build-websites/operation/css/css3-tutorial-7-super-easy-css-recipes.html
	position: relative;
	height: 300px;
	width: 90%;
	background-color: #E3E3E3;
	margin: 0 auto;
	text-align: center;
	outline: 1px dashed #98abb9;
	outline-offset: -5px;
	/*shadow*/
	-webkit-box-shadow: 2px 2px 2px #000;
	-moz-box-shadow: 2px 2px 2px #000;
	box-shadow: 2px 2px 2px #000;
}

.selected-item-info .item-info-left{
	height: 100%;
	width: 30%;
	float: left;
}

.selected-item-info .item-info-middle{
	position: relative;
	left: 5%;
	height: 100%;
	widht: 50%;
	float: left;
}

.selected-item-info .item-info-right {
	position: relative;
	float: right;
	widht: 10%;
	top: 10px;
	right: 10px;
}

.selected-item-info .item-info-left img {
	position: relative;
	height: 90%;
	width: 80%;
	top: 5%;
	//right: 10%;
	border-radius: 40px;
}

.selected-item-info .item-info-middle p {
	position: relative;
	top: 0%;
	right: 10%;
	font-size: 25px;
	text-decoration: underline;
	line-height: 180%;
}

.selected-item-info .item-info-right img {
	height: 80px;
	width: 80px;
	border-radius: 100px;
}

